*.tfstate
*.tfstate.*
*.tfstate.backup
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
tfplan
tfplan-*
plan-*.txt
crash.log
*.auto.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json


